.p-mail {
  width: 100%;
  max-width: var(--column-width-01);
  justify-content: center;
  align-items: center;
  margin: auto;
}

.p-mail > section {
  width: 100%;
}

.p-mail > section:not(:last-child) {
  padding-bottom: var(--spacing-04);
  border-bottom: var(--border);
}

.p-mail hr {
  width: 100%;
  display: block;
}
