.c-feedback-item {
  --avatar-size: 50px;

  display: flex;
  flex-flow: row nowrap;
  gap: var(--spacing-02);

  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-bg-alt);
  padding: var(--spacing-02);
}

.c-feedback-item-widget {
}

.c-feedback-item header {
  align-items: center;
  justify-content: space-between;
}

.c-feedback-item header a {
  text-decoration: none;
}

.c-feedback-item header a:hover {
  text-decoration: underline;
}

.c-feedback-item .c-feedback-item-content {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: var(--spacing-01);
}

.c-feedback-item-text {
  width: 100%;
}
