@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

@font-face {
  font-family: Corset;
  src: url(/fonts/Corset8.woff2) format("woff2"),
    url(/fonts/Corset8.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
