form {
  display: flex;
  flex-flow: column;
  background-color: var(--color-bg-alt);
  padding: var(--spacing-02) var(--spacing-02);
  gap: var(--spacing-02);
  border: var(--border);
  border-radius: var(--border-radius);
}

input,
textarea {
  width: 100%;
  min-width: none;
  color: var(--color-fg);
  background: var(--color-bg);
  padding: var(--spacing-q) var(--spacing-01);
  border: var(--border);
  border-radius: var(--border-radius-s);
}

input:read-only,
textarea:read-only {
  cursor: default;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border-color: transparent;
  caret-color: transparent;
  outline: transparent;
}

input:disabled {
  cursor: not-allowed;
  color: var(--color-fg);
  opacity: 0.3;
}

textarea {
  resize: vertical;
}

.c-button {
  text-decoration: none;
  width: max-content;
  background: var(--color-hl);
  padding: var(--spacing-q) var(--spacing-02);
  border: var(--border);
  border-radius: var(--border-radius-s);
  cursor: pointer;
  transition: background-color ease 0.1s;
  font-weight: bold;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-q);
}

.c-button svg {
  flex: 1 0 auto;
}

.c-button:hover {
  color: var(--color-bg);
  background: var(--color-fg);
}

label {
  display: flex;
  flex-flow: column;
  gap: var(--spacing-01);
}

form .cluster {
  align-items: flex-end;
}

form .cluster > label {
  flex: 1;
}
form footer {
  display: flex;
  width: 100%;
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-end;
}
