form {
  display: flex;
  flex-flow: column;
  padding: var(--spacing-01) var(--spacing-02);
  gap: var(--spacing-01);
  border: var(--border);
  border-radius: var(--border-radius);
}

input {
  width: 100%;
  min-width: none;
  background: white;
  padding: var(--spacing-q) var(--spacing-01);
  border: var(--border);
  border-radius: var(--border-radius);
}

.c-button,
button {
  text-decoration: none;
  width: max-content;
  background: var(--color-hl);
  padding: var(--spacing-q) var(--spacing-02);
  border: var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;
}

label {
}
