form {
  display: flex;
  flex-flow: column;
  padding: var(--spacing-01) var(--spacing-02);
  gap: var(--spacing-01);
  border: 2px solid var(--gray);
  border-radius: var(--spacing-01);
}

input {
  width: 100%;
  min-width: none;
  background: white;
  padding: var(--spacing-q) var(--spacing-01);
  border: 2px solid var(--color-border);
  border-radius: var(--spacing-h);
}

.c-button,
button {
  text-decoration: none;
  width: max-content;
  background: var(--color-hl);
  padding: var(--spacing-q) var(--spacing-02);
  border: 2px solid var(--black);
  border-radius: var(--spacing-h);
  cursor: pointer;
}

label {
}
