.c-tag-list {
  display: flex;
  flex-flow: row;
  gap: var(--spacing-h);
  list-style: none;
  padding: 0;
}

.c-tag {
  border: var(--border);
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius);
  text-decoration: none;
  font-family: var(--font-mono);
  background-color: var(--color-bg);
  color: var(--color-hl);
  padding: 0 var(--spacing-02);
}
