.c-site-header {
  background: var(--color-hl);
  color: var(--color-bg);
  padding: var(--spacing-02) var(--spacing-04);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.c-site-header .cluster {
  max-width: var(--column-width-01);
  width: 100%;
  justify-content: space-between;
}

.c-site-title {
  text-decoration: none;
}

.c-site-nav {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-01);
}

.c-site-title svg {
  display: block;
  height: 45px;
  width: auto;
}

.c-site-header > .wrapper {
  justify-content: space-between;
  gap: var(--spacing-01);
}

.c-site-header form {
  border: none;
  padding: 0;
}

.c-site-header .c-button,
.c-site-header button {
  border-color: var(--color-bg-alt);
}
