.c-playtester-table-actions {
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-bg-alt);
  width: 100%;
  padding: var(--spacing-01);
  justify-content: space-between;
}

.c-playtester-table-actions form {
  border: none;
  background-color: transparent;
  padding: 0;
}
.c-playtester-table .cell-tag {
  text-decoration: none;
}
